<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="navbar-nav">
          <li><a class='navbar-brand bigbrand' href='{% url 'post_list' %}'>My Blog</a></li>
          <li><a href='{% url 'about' %}'>About</a></li>
          <li><a href='https://github.com'>Github</a></li>
          <li><a href='https://linkedin.com'>LinkedIn</a></li>
        </ul>

        <ul class="nav navbar-nav nav-bar-right">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'post_new' %}">New Post</a>
            </li>
            <li>
              <a href="{% url 'post_draft_list' %}">Drafts</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
              <p>Welcome {{user.username}}</p>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}"><span class='fa fa-user'></span>Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}

          </div>

        </div>

      </div>
    </div>


  </body>
</html>
