.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}
